<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>db</string>
				<string>sqlite</string>
				<string>sqlite2</string>
				<string>sqlite3</string>
				<string>db3</string>
				<string>s3db</string>
				<string>mdb</string>
				<string>accdb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Icon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-sqlite3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SQLite</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>SQLiteDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>db-wal</string>
				<string>db-shm</string>
				<string>sqlite-wal</string>
				<string>sqlite-shm</string>
				<string>sqlite3-wal</string>
				<string>sqlite3-shm</string>
				<string>db3-wal</string>
				<string>db3-shm</string>
				<string>s3db-wal</string>
				<string>s3db-shm</string>
				<string>mdb</string>
				<string>accdb</string>
				<string>sqlite2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WAL/SHM files</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>NSDocumentClass</key>
			<string>SQLiteDocument</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>SQLPro for SQLite</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.hankinsoft.osx.sqliteprofessional</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SQLPro for SQLite</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.301</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3034</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10A255</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18A384</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1000</string>
	<key>DTXcodeBuild</key>
	<string>10A255</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>42258d9778251d2c2ebeabfe75b664a5396652d1</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FullVersionAppId</key>
	<integer>586001240</integer>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Hankinsoft. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
